{% set current_language = app.request.get('languageCode') ?: content.prioritizedFieldLanguageCode %}
<div class="ez-raw-content-title d-flex">
    <label for="seo-change-language" class="inline-block p-1">Apply for language : </label>
    {% if languages|length > 1  %}
        <form class="form-inline">
            <select class="form-control ez-location-language-change" id="seo-change-language">
                {% for language in languages %}
                    <option value="{{ path('ibexa.content.translation.view', {
                        'contentId': location.contentId,
                        'locationId': location.id,
                        'languageCode': language.languageCode
                    }) }}#ez-tab-location-view-seo#tab"
                        {% if current_language == language.languageCode %} selected="selected" {% endif %}
                    >{{ language.name }}</option>
                {% endfor %}
            </select>
        </form>
    {% else %}
        {% set language = languages.0|default(null) %}
        {{ language ? language.name : '' }}
    {% endif %}
</div>

<h3 class="mt-2">Manual metas</h3>

{{ form_start(form) }}
    {% form_theme form 'bootstrap_5_layout.html.twig' %}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Save</button>
{{ form_end(form) }}
