{# @var meta_value_by_name \Infostrates\IbexaContentSeo\Domains\Meta\MetaValue[] #}
<title>{{ meta_value_by_name['title'].value }}</title>
{% for meta in meta_value_by_name|filter(m => m.propertyName != 'title') %}
    {% if meta.propertyName in ['canonical', 'prev', 'next'] %}
        <link rel="{{ meta.propertyName }}" href="{{ meta.value }}" />
    {% elseif meta.propertyName in ['robots', 'description', 'keywords'] %}
        <meta name="{{ meta.propertyName }}" content="{{ meta.value }}">
    {% else %}
        <meta property="{{ meta.propertyName }}" content="{{ meta.value }}">
    {% endif %}
{% endfor %}
{% for href_lang in href_lang_list %}
    <link rel="alternate" hreflang="{{ href_lang.localeCode }}" href="{{ href_lang.href }}" />
{% endfor %}
